 a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: black;
      text-decoration: none;
    }
    a:active {
      color: none;
      background-color: transparent;
      text-decoration: none;
    }
    table {
      background-color: #69bea5;
      margin: -8px
    }
    th, td {
      border: px solid white;
    }

    body {
      margin: 0 auto;
      background-color: #FF9500;
    }
    img {
      margin: 0 auto;
    }
    #banner {
      width: 800px;
      height: 100px;
      background-color: coral;
      clear:both;
      position:fixed;
    }
