    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: black;
      text-decoration: none;
    }
    a:active {
      color: none;
      background-color: transparent;
      text-decoration: none;
    }
    body {
      margin: 0px;
      font-family:"Microsoft JhengHei";
    }
    .banner {
      align-items: center;
      justify-content: center;
      height: 100vw;
      align-items: center;
      justify-content: center;
      font-size: 6.2em;
      font-weight: bold;
      color: #3F5D45;
      background-color: #EAF0ED;
    }
    .text {
      display: flex;
      flex: 0 0 80px;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
    }
     #content, #nav, #supporting{
         margin-top: 100px;
     }
