    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: black;
      text-decoration: none;
    }
    a:active {
      color: none;
      background-color: transparent;
      text-decoration: none;
    }
    table {
      background-color: #69bea5;
      margin: -8px
    }
    th, td {
      border: px solid white;
    }

    body,html {
       margin: 0px;
      height: 100%;
      font-family: "Microsoft JhengHei"
    }
    .banner {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 70%
      color: #3F5D45;
      background-color: #EAF0ED;
    }
    .text {
      display: flex;
      flex: 0 0 80px;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
    }
